
body{
    background: linear-gradient(to right,skyblue,lightgreen)
}
.row-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.video-box{
    flex-direction: column;
    align-items: center;
}
video{
    border-radius: 10px;
}
audio{
    margin-top: 10px;
    width: 300px;
}